*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.Choices{
    display: flex;
    background-color: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:750px;
    gap:.5rem;
    max-width: 50%;
}
.Choices button{
    width:49%;
    background: black;
    border:solid 1px #fff;
    padding:.75rem;
    cursor: pointer;
}
.Selected{
    background-color: #2395A5;
}

@media(max-width:431px){
    .Choices{
        min-width: 85%;
    }
    .Choices button{
        width:100%;
    }
}