/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@200;300;400;700;900&family=Sedgwick+Ave&family=Whisper&display=swap'); */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.Homepage{
    min-height: 100vh;
    background-color: #111;
    padding: 0 0 0 1rem;
}
.nav_con{
    padding:.75rem 1rem;
    background-color: green;
    padding:2rem;
    position: absolute;
}
.Homepage:not(.categories){
    overflow: hidden;
}
.top_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:1rem 1rem 1rem 1.5rem;
    width:95%;
    z-index: 3;
}
.top_inner{
    display: flex;
    justify-content: space-between;
}
.top_right{
    display: flex;
}
.search{
    display: flex;
    gap:0;
}
.filter{
    cursor: pointer;
    transition: all 350ms;
}
.filter:hover{
    background-color: #606060;
}
.filter_open{
    position: fixed;
    background-color: red;
}
.search img{
    width:50px;
    height:50px;
    background-color: #60606075;
    padding:.75rem;
    border-radius: 5px 0 0 5px;
}
.search img:nth-child(3){
    border-radius: 0 5px 5px 0;
}

.search input{
    height:50px;
    background-color: #60606075;
    width:100%;
    border:none;
    color:#fff;
}
.search input:focus{
    outline:none;
}
::placeholder{
    color:#fff;
}
.search button{
    background: none;
    border:none;
}
.story_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.story_button button{
    width:15px;
    height:15px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    border:solid 1px #000;
    cursor: pointer;
    transition: all 250ms;
}
.story_button button:hover{
    background-color: aqua;
    scale:1.1;
}
.activeButton {
    background-color: red;
  }
.topstory_container{
    
    display: flex;
    width:500%;
    animation: next-story 40s linear 5000ms infinite  alternate-reverse;
}

@keyframes next-story{
    0%{
        transform: translateX(-80%);
    }
    24%{
        transform: translateX(-80%);
    }
    25%{
        transform: translateX(-60%);
    }
    49%{
        transform: translateX(-60%);
    }
    50%{
        transform: translateX(-40%);
    }
    74%{
        transform: translateX(-40%);
    }
    75%{
        transform: translateX(-20%);
    }
    99%{
        transform: translateX(-20%);
    }

    100%{
        transform: translateX(0);
    }
}
/* .top_container:nth-child(2) {
    animation-delay: 10s;
}
.top_container:nth-child(3) {
    animation-delay: 15s;
}
.top_container:nth-child(4) {
    animation-delay: 20s;
}
.top_container:nth-child(5) {
    animation-delay: 25s;
} */

.categories_container{
    display: flex;
    flex-direction: column;


    gap:1.25rem;
    transform: translateY(-1.5rem);
}
.categories{
    display:flex;
    gap:1rem;
    justify-content:center;
}
.categories button{
    font-family: 'Poppins';
    text-align: center;
    width:8vw;
    height:2rem;
    background-color: #111;
    border:solid 1px #fff;
    border-radius: 5px;
    color:#fff;
    transition: all 350ms;
    cursor:pointer;

}
.categories button:nth-child(2):hover{
    background-image: url(../assets/scifi.jpg);
    background-size: cover;
    background-position: center;
    scale:1.025;
}
.categories button:nth-child(3):hover{
    background-image: url(../assets/sports.png);
    background-size: cover;
    background-position: center;
    scale:1.025;
}
.categories button:nth-child(5):hover{
    background-image: url(../assets/adventure.jpg);
    background-size: cover;
    background-position: center;
    scale:1.025;
}
.categories button:nth-child(6):hover{
    background-image: url(../assets/fantasy.jpg);
    background-size: cover;
    background-position: center;
    scale:1.025;
}
.categories button:nth-child(7):hover{
    background-image: url(../assets/action.jpg);
    background-size: cover;
    background-position: center;
    scale:1.025;
}
.categories button:nth-child(8):hover{
    background-image: url(../assets/horror.png);
    background-size: cover;
    background-position: center;
    scale:1.025;
}
.categories button:nth-child(9):hover{
    background-image: url(../assets/mystery.jpg);
    background-size: cover;
    background-position: center;
    scale:1.025;
}
.categories button:nth-child(10):hover{
    background-image: url(../assets/romance.jpeg);
    background-size: cover;
    background-position: center;
    scale:1.025;
}

.main_body{
    background-color: #111;
    min-height:100vh;
    /* background-image: url(../assets/mindtale_blur.png); */
    background-position: center;
    background-size: 25%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* padding: 1.5rem; */
    margin-bottom: 1rem;
    
}




@media(max-width:431px){
    .top_container{
        width:100%;
        padding:.5rem;
        max-height: 5vh;
    }
    .main_body{
        background-size: 50%;
    }
    .categories{
        width:min-content;
        overflow-x: scroll;
        justify-content: flex-start;
        padding:0 .5rem;
    }
    .categories_container{
        transform: translateY(-1rem);
    }
    .categories button{
        width:25vw;
    }
    .search input{
        padding:.5rem .75rem;
    }

    .search input, .search img{
        height: 30px;
        background-color: #60606090;
    }
    .search img{
        padding: 0;
        padding:.5rem 1rem;
    }
    .search input:focus{
        background-color: #444;
    }
    .story_button button{
        width:10px;
        height:10px;
    }
    .topstory_container{
        animation: next-story 30s linear 5000ms infinite  alternate-reverse;
    }
    .main_body{
        padding:.5rem;
    }
    /*cotinue*/

    


}

