.bottom,
.main_title,
.top {
    display: flex;
    font-size: 3.5em;
}

@font-face {
    font-family: VALORANT;
    src: local('Valo'), url('../assets/Valo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #000;
}

.Landing h1,
.Landing p {
    font-family: VALORANT;
}

.main {
    background-color: #2395a5;
    height: 100vh;
    clip-path: polygon(20% 0, 20% 0, 80% 100%, 80% 100%);
    animation: 1.6s 250ms forwards entrance, .5s 11s forwards exit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@keyframes exit {
    to {
        clip-path: polygon(50% 100%, 50% 0, 50% 0, 50% 100%);
    }
}

@keyframes entrance {
    20% {
        clip-path: polygon(10% 0, 30% 0, 90% 100%, 70% 100%);
    }
    50% {
        clip-path: polygon(0 60%, 0 40%, 100% 40%, 100% 60%);
    }
    80% {
        clip-path: polygon(0 50%, 0 50%, 100% 50%, 100% 50%);
    }
    100% {
        clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    }
}

.main_title {
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 0;
    animation: 1.25s ease-in-out 1.2s forwards main_title;
    scale: .30;
    transform: skewX(-30deg);
}

@keyframes main_title {
    to {
        transform: skewX(0);
        scale: 1;
        opacity: 1;
    }
}

.bottom,
.top {
    flex-direction: column;
    font-family: Valorant;
    color: #000;
    text-shadow: 0 0 2px #000;
}

.top {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    animation: 1.75s linear 2.4s forwards bottom;
}

@keyframes bottom {
    33% {
        clip-path: polygon(0 100%, 100% 100%, 100% 50%, 0 50%);
    }
    66% {
        clip-path: polygon(0 50%, 100% 50%, 100% 0, 0 0);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        display: none;
    }
}

.bottom {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    animation: 1.75s linear 2.4s forwards top;
}

@keyframes top {
    33% {
        clip-path: polygon(0 75%, 100% 50%, 750% 0, 0 0);
    }
    66% {
        clip-path: polygon(0 100%, 100% 100%, 100% 75%, 0 75%);
    }
    100% {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        display: none;
    }
}

.main_title h1:first-child {
    transform: translateX(-10rem);
    animation: .3s 2.05s forwards first;
}

@keyframes first {
    to {
        transform: translateX(0);
    }
}

.main_title h1:nth-child(2) {
    transform: translateX(10rem);
    animation: .3s ease-in-out 2.05s forwards second;
}

@keyframes second {
    to {
        transform: translateX(0);
    }
}

.main img {
    position: fixed;
    width: 20vw;
    height: 100vw;
}

.main img:first-child {
    clip-path: polygon(0 100%, 0 0, 0 0, 0 100%);
    left: 0;
    animation: 2.25s 4.25s forwards left;
}

@keyframes left {
    to {
        clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
    }
}

.right {
    right: 0;
    animation: 2.25s 4.25s forwards right;
    clip-path: polygon(100% 100%, 100% 0, 100% 0, 100% 100%);
}

@keyframes right {
    to {
        clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
    }
}

.container,
.main p {
    opacity: 0;
    animation: 750ms ease-in-out 4.5s forwards loading-container;
}

@keyframes loading-container {
    75% {
        transform: translateY(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    width: 40%;
    background-color: #222;
    height: 3px;
    transform: translateY(5rem);
}

.container .box {
    width: 0;
    height: 100%;
    background-color: #fff;
    animation: 5.3s ease-out 5.55s forwards box;
}

@keyframes box {
    25% {
        width: 25%;
    }
    50% {
        width: 30%;
    }
    75% {
        width: 75%;
    }
    95% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

.main p {
    transform: translateY(6rem);
    margin-top: .75rem;
    color: #fff;
}

@media (max-width: 800px) and (min-width: 431px) {
    .main img {
        display: none;
    }
}

@media (max-width: 431px) {
    .main h1 {
        font-size: 1em;
    }
    .main img:first-child,
    .right {
        display: none;
    }
}
