.Leaderboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/castlee.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  gap: 1rem;
  padding-bottom: 5rem;
}
.Back {
  width: 48px;
  padding: 0.5rem;
}
.Ranklist_con {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 7rem;
  padding: 0.25rem 1rem;
}
@media (max-width: 431px) {
  .Ranklist_con {
    margin: 0;
  }
}
