.Nav, .title {
    display: flex;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Nav {
    width: 70px;
    position: fixed;
    right: 0;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem .75rem 1rem;

    height: 100vh;
    z-index: 2;
    background-color: #000000;
    border-left:solid 1px #999;
}

.Nav img {
    width: 2rem;
}

.title {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.title span {
    font-family: Poppins;
    font-weight: 900;
    font-size: 2.5em;
    color: #2395A5;
    transform: rotate(90deg);
    margin-top: -20px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .Nav {
        position: fixed;
        flex-direction: row;
        bottom: 0;
        height: max-content;
        width: 100%;
        justify-content: space-between;
        margin-top: 0;
        border-top: 1.5px solid #333;
        padding: .75rem 1rem .5rem;
    }

    .title {
        display: none;
    }
}

@media (max-width: 431px) {
    .Nav {
        flex-direction: row;
        bottom: 0;
        left: 0;
        height: max-content;
        width: 100vw;
        justify-content: space-between;
        margin-top: 0;
        border-top: 1.5px solid green;
        padding: .75rem 1rem .5rem;
        position: fixed;
        /* background-image:url(../assets/artwork10.jpg); */
        background-position:center;
        background-size:cover;
    }

    .Nav img {
        width: 1.75rem;
    }

    .title {
        display: none;
    }
}
