@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Meow+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color:#fff;
}

.Profile{
    background-color: #111;
    min-height: 100vh;
    background-image: url(../assets/mindtale.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 20%;
}
.Cover{
    width:100%;
    height:45vh;
    background-image: url(../assets/sample.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: flex-end;
    gap:1rem;
    padding:.5rem;
}
.Cover img{
    width: 36px;
    height:36px;
    padding:.25rem;
    cursor: pointer;
    transition: all 350ms;
}
.Cover img:hover{
    scale:1.075;
}
.Cover img:nth-child(2){
    background-color: #940000;
    border: solid 1px #fff;
    border-radius: 5px;
}
.User_picture{
    display: flex;
    flex-direction: column;
    gap:.5rem;
    align-items: center;
    justify-content: center;
    color:#fff;
    transform: translateY(-15vh);

}
.User{
    display: flex;
    flex-direction: column;
    padding:0 .5rem;
    gap:.5rem;
}
.Profile_user{
    width:30vh;
    border:solid 1px #fff;
}
.Add{
    display: flex;
    gap:.5rem;
    align-items: center;
    background-color: #34A9D5;
    padding: .25rem .75rem;
    border-radius: 5px;
}
.Add img{
    width:16px;
    height:16px;
}
.User_name{
    font-size: 1.75em;
}
.User_details{
    width:90%;
    margin:0 auto;

    display:flex;
    flex-direction:column;
    border-bottom:solid 1px #fff;
    transform: translateY(-12.5vh);
    gap:.75rem;
}
.UserHead_click{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:.5rem;
    opacity:.4;
}
.UserHead_click2{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:.5rem;
    opacity:1;
}

.UserHead_click img{
    width:16px;
}
.UserHead_click2 img{
    width:16px;
}
.User_head{
    display: flex;
    justify-content: space-around;
    padding:.25rem;
}

.User_saved{
    display: flex;
    gap:.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.User_saved img{
    width:16%;
    border:solid 3px #333;
}

@media(max-width:431px){
    .User_saved{
        justify-content: center;
    }
    .User_saved img{
        width:30%;
    }
    .Cover{
        height:35vh;
    }
    .User_picture{
        transform: translateY(-10vh);
    }
    .Profile_user{
        width:20vh;
    }
    .User_name{
        font-size: 1.25em;
    }

    .User_details{
        width:95%;
        transform: translateY(-8.5vh);
        font-size: .75em;
    }
    .UserHead_click img,.UserHead_click2 img{
        display: none;
    }
}
@media only screen 
and (min-device-width: 768px) /* minimum width for tablets */
and (max-device-width: 1024px) /* maximum width for tablets */{
    .Cover{
        height:35vh;
    }
    .Profile_user{
        width:20vh;
    }
    .User_picture{
        transform: translateY(-10vh);
    }
    .User_details{
        transform: translateY(-8.5vh);
        font-size: 1.25em;
    }
}