.Quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  transition: all 350ms;
}
.Quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #111;
  transition: all 350ms;
  width: 100%;
}
.Quiz2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  align-items: center;
  transition: all 350ms;
  width: 100%;
}
.Count {
  text-align: right;
  padding: 1rem;
}
.Count2 {
  text-align: right;
  padding: 1rem;
  color: #333;
}
