*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.Recommend{
    display: flex;
    gap:.5rem;

    width:32%;
    justify-content: center;
}
.Recommend_inner span{
    opacity: .85;
    font-size: .75em;
    color:gold;
}
.Recommend img{
    width:100px;
}