*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.SavedNotif{
    z-index: 999;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap:.5rem;
    background-color: #222;
    padding:.5rem 1rem;
    color:#fff;
    border-radius: 10px;
    animation: saved 1 1250ms ease-out forwards;
}
.SavedNotif img{
    width:2rem;
}
@keyframes saved{
    0%{
        top:5%;
        opacity: 1;
    }
    75%{
        top:10%;
        opacity: 1;
    }
    80%{
        top:10%;
    }
    95%{
        top:10%;
    }

    100%{
        opacity:.25;
        display: none;
    }
}