*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline:none;
    border:none;
}

.SearchBook{
    min-height: 100vh;
    background-image: url(../assets/castle4.png);
    background-position: center;
    background-size: cover;
    background-attachment: fix;
    padding:.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.Stories_con{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
}
.Oops{
    text-align: center;
}

.Top{
    display: flex;
    align-items: center;
    gap:.75rem;
}
.Top input{
    background-color: #60606075;
    width:100%;
    padding:1rem;
}
.Top img{
    width:32px;
}
.Top button{
    padding: 1rem;
    background-color: #2395a5;
}

@media(max-width:431px){
    .SearchBook{
        background-image: url(../assets/castle-mobile.png);
        padding:.25rem .5rem;
    }
    .Stories_con{
        gap:0rem;
    }
}