*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.Main_container{

    display: flex;
    flex-direction: column;
    gap:.25rem;
    margin-left: 275px;

}
.User{
    width:100px;
    border-radius: 50%;
    border: solid 1px #fff;
}
.Change_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.5rem;
}
.Change_profile label{
    color:#34A9D5;
    cursor: pointer;
    transition:all 350ms;
}
.Change_profile label:hover{
    color:#80ddff;
}
.Change_name{
    display: flex;
    width:100%;
    justify-content: space-between;
}

.Change_name input{
    background:none;
    background-color: #454545;
    padding:.5rem 1rem;
    width:100%;
    font-size: 1em;
    outline: none;
    
}
textarea{
    background-color: #454545;
}

.User_name, .User_tag{
    display: flex;
    flex-direction: column;
    color:#fff;
    width:49%;
    gap:.5rem;
}
.Length{
    text-align: right;
    font-size: .75em;
}
.Length2{
    text-align: right;
    font-size: .75em;
    color:#ff4f4f;
}
.Change_bio{
    display: flex;
    flex-direction: column;

}
textarea{
    background: none;
    border:solid 1px #fff;
    padding:.5rem 1rem;
    resize: none;
    width:100%;
}
.textarea{
    background: none;
    border:solid 1px #ff4f4f50;
    padding:.5rem 1rem;
    resize: none;
    width:100%;
    outline:none;
}
.Photocard_container{
    display: flex;
    gap:.25rem;
    flex-wrap: wrap;

}
.Photocard{
    width:19%;
    cursor: pointer;
    transition: all 350ms;
    padding:.25rem;
    filter: brightness(75%);

}
.Selected_photocard{
    background-color: #2395a5;
    filter: brightness(100%);
}
.Photocard:hover{
    scale:1.025;
    filter: brightness(100%);
}
.Button_con{
    display: flex;
    gap:1rem;
}
.Button_con button{
    width:100px;
    background-color: #111;
    border: solid 1px #2395a5;
    padding:.5rem 0;
    border-radius: 15px;
    cursor: pointer;
    transition: all 350ms;
}
.Button_con button:hover{
    scale:1.025;
}
.Button_con button:first-child{
    background-color: #2395a5;
    color:#fff;
}