@font-face {
    font-family: 'Poppins';
    src: local('Valo'), url('../assets/Fonts/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: 'VALORANT';
    src: local('Valo'), url('../assetS/Valo.ttf') format('truetype');
    font-display: swap;
  }
.Signin{
    height:100vh;
    background-image: url(../assets/bg-desktop.jpg);
    background-size: 90%;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */

    padding: .5rem 2rem;

    font-family: Poppins;

}
.middle{
    background-color: #00000085;
    color:#fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;

    padding:1rem 2rem;

    border-radius: 10px;

    text-align: center;
    width:480px;
    margin:0 auto;
}
.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:.75rem;
}
.socials img{
    width:1.5rem;
}


.socials .facebook,
.socials .google{
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;

    padding: .5rem 1rem;

    border-radius: 30px;
    cursor: pointer;
    transition: all 350ms;
}

.facebook:hover,
.google:hover{
    background-color: #cfcfcf;
    scale:1.05;
}

.facebook p,
.google p{
    font-size: .75em;
    font-weight:550;
    color:#666;
}



.or{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    width:100%;

    text-align: center;
}
.or span{
    background-color: #fff;
    height:2px;
    width:100%;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap:.75rem;

    width:100%;

}
.inputs input{
    border-radius: 50px;
    border:none;
    padding:1rem 1.5rem;

    background-color: #cccccc25;
    color:#fff;

    font-family: Poppins;
    font-weight: 400;
    font-size: .85em;

    border:solid 2px #808080;

    transition: all 350ms;
}
.inputs input:focus{
    outline:none;
    box-shadow: 0 0 3px #fff;
}
.terms_container{
    display:flex;
    justify-content: baseline;
    transform: translateX(.5rem);
    gap:.5rem;
    width:100%;
}
.terms{
    color:#E43544;
    background-color: #ffffff;
    padding: .1rem.25rem;
    border-radius: 5px;
    font-size: .75em;

    


}
.Signin button{
    background-color: #E43544;
    color:#fff;
    width:100%;
    border:none;

    text-align: center;
    padding:.75rem 3rem;
    border-radius: 50px;
    transform: translateY(-.5rem);

    cursor: pointer;


}
.Signin button:active{
    scale:.95;
}
.arrow{
    font-size: 1.25em;
    font-family: VALORANT;

}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: baseline;

    color:#fff;
    font-family: Poppins;


}

.bottom h1{
    line-height: 100%;
    font-size: 3.5em;
    letter-spacing: 5px;
}
.bottom p{
    letter-spacing: 7.5px;
}
.logo{
    display: none;
}
.wrong{
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #333;
    padding:.5rem 1rem;

    display: flex;
    gap:.5rem;
    color:#fff;
    border-radius: 5px;
    width:fit-content;
    /* opacity:0; */
    animation: catch 1 1750ms ease-out forwards;
}
@keyframes catch{
    from{

    }
    25%{
        top:20%;
        opacity: 1;
        display: flex;
        
    }
    75%{
        top:20%;
        opacity:1;
    }

    90%{
        top:20%;
    }

    100%{
        opacity:0;
        top:20%;
        display: none;
    }
}
.wrong img{
    width:1.5rem;
}
.already{
    display: flex;
    flex-direction: column;
    width:100%;
}
.link{
    color:#ffa0a8;

}
@media(max-width:835px) and (max-height: 1280px){
    .Signin{
        background-image: url(../assets/bg-mobile.jpg);
    }
    .middle{
        background-color: #00000095;
    }
}
@media(max-width:431px){
    .Signin{

        padding:1rem;
        background-image: url(../assets/bg-mobile.jpg);
        background-size: cover;
        flex-direction: column-reverse;

    }
    .middle{
        width:100%;
        background-color: none;
        background: none;
        padding:0;
    }
    .middle h2{
        display: none;
    }
    .socials{
        width:100%
    }

    .socials .facebook,
    .socials .google{
        gap:.5rem;
        font-size: .75em;
        width:50%;
    }

    .socials img{
        width:1.25rem;
    }
    .bottom h1{
        font-size: 2em;
        letter-spacing: 2px;
    }
    .bottom p{
        font-size: .85em;
        letter-spacing: 1.25px;
        font-weight: 200;
        white-space: nowrap;
    }
    .extra{
        display: none;
    }
    .logo{
        display: block;
        width:3.5rem;
    }
    .wrong{
        align-items: center;
    }
    .wrong img{
        height:1.5rem;
    }
    .wrong p{
        font-size: .65em;
    }
}