.StoryNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}
.StoryNav_inner span{
    height: 100%;
    font-size: 1.25em;
    text-align: center;
}
.Light{
    color:#333;
}
.Dark{
    color:#fff;
}
.Back{
    width:32px;
}
.StoryNav_inner img{
    width:32px;
    height: 32px;
}
.StoryNav_inner{
    display: flex;
    gap:1rem;
    align-items: center;
}