*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.Story{
    background-color: #111;
    width:100%;
}
.Main_title{
    font-style: italic;
    font-size: 1.5em;
}
.Story img{
    width:45%;
}
.Next{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.Prev{
    text-decoration: none;
    border:solid 1px #fff;
    padding:.5rem 1rem;
    width:10vw;
    text-align: center;
    transition: all 350ms;
}
.Prev:hover{
    background-color: #2395a5;
}
@media(max-width:431px){
    .Prev{
        width:40%;
    }
}