*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.Story{
    width:100%;
    display: flex;
    align-items: center;
    gap:1rem;
    padding: 1rem;
    
}
.Story_inner{
    display: flex;
    flex-direction: column;
    gap:1rem;
    width:100%;
}
.Story_inner p{
    font-size: 1.25em;
    font-weight: 450;
    line-height:175%;
}
.Main_title{
    font-style: italic;
    font-size: 1.5em;
}
.Picture{
    width:25%;
}
.Next{
    width:95%;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-top: solid 1px #fff;
}
.Prev{
    text-decoration: none;
    border:solid 1px #fff;
    padding:.5rem 1rem;
    width:10vw;
    text-align: center;
    transition: all 350ms;
}
.Prev:hover{
    background-color: #2395a5;
}
.Top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding: 0 1rem;
}
.Top img{
    width:32px;
}
.StoryBoard_recommend{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1rem;
}
@media(max-width:431px){
    .Story{
        flex-direction: column;
    }
    .Picture{
        width:65%;
    }
}