.Story_details,
.Story_details2 {
    width: calc(100% - 70px);

    flex-direction: column;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;

}

.Story_details {
    gap: 1rem;
}

.Story_details2 {
    gap: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    animation: .5s forwards Exit;
}

.Details_left,
.Details_right {
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    position: relative;
    padding: 135px 1rem 0;
}

@keyframes Exit {
    to {
        clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
}

.Details_top {
    display: flex;
    gap: 1rem;
    padding-bottom: .75rem;
    border-bottom: 2px solid #333;
}

.Details_buttons,
.Synopsis {
    gap: .5rem;
    animation: .75s forwards Go;
    display: flex;
}

.main_pic {
    width: 300px;
    aspect-ratio: 1/1.36;
    border-radius: 0 0 210px;
    border: 2px solid #fff;
    transform: translateX(-15rem) rotate(45deg);
    animation: .75s forwards Go;
}

.Details_bottom,
.Details_right,
.Views,
.input_comment {
    width: 100%;
    display: flex;
}

.Views {
    transform: translateY(15rem);
    animation: .75s forwards Go;
}

.Details_left {
    display: flex;
}
.comment_text,
.Details_bottom,
.Actual_comments{
    padding:0 1rem;
}

.Synopsis {
    flex-direction: column;
    line-height: 250%;
    transform: translateX(15rem);
}

@keyframes Go {
    to {
        opacity: 1;
        transform: translate(0);
    }
}

.Details_buttons {
    transform: translateY(15rem);
}

.Story_title,
.read {
    gap: .25rem;
    display: flex;
}

.Details_buttons img,
.Sort img,
.Views img {
    width: 20px;
}

.Details_buttons button {
    display: flex;
    align-items: center;
    padding: .25rem 1.25rem;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}

.Details_buttons button:active,
.input_comment button:active {
    scale: .9;
}

.read {
    text-decoration: none;
    color: #fff;
    align-items: center;
}

.Details_buttons button:first-child {
    background-color: #940000;
    display: flex;
    gap: .5rem;
}

.Details_buttons button:nth-child(2) {
    display: flex;
    gap: .5rem;
    background-color: #111;
    border: 1px solid #fff;
}

.Story_top {
    display: flex;
    justify-content: space-between;
    transform: translateY(-15rem);
    animation: .75s forwards Go;
}

.save {
    height: 40px;
}

.Story_title {
    flex-direction: column;
    max-width: 100%;
}

.Story_title h1 {
    letter-spacing: 10px;
    line-height: 100%;
    text-transform: uppercase;
    background: linear-gradient(to right, #fff 20%, #ffd3d3 30%, #ff7f7f 70%, #e43544 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: 5s ease-in-out infinite alternate textShine;
}

@keyframes textShine {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.Story_title p {
    opacity: .75;
}

.Star_container {
    display: flex;
    gap: .5rem;
    max-width: 100%;
    align-items: center;
}

.Star_container img {
    width: 10px;
    height: 10px;
}

.Star_container span {
    font-size: .75em;
}

.back,
.text {
    display: none;
}

.Views {
    justify-content: flex-end;
    gap: .5rem;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.Details_bottom {
    margin-top: 2vh;
    gap: .5rem;
    
    transform: translateX(-15rem);
    animation: .75s forwards Go;
}

.Details_bottom img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.input_comment {
    flex-direction: column;
    justify-content: flex-end;
    gap: .25rem;
}

.input_comment input {
    border: none;
    border-bottom: 1px solid #333;
    background-color: #00000000;
    padding: .5rem;
    color: #fff;
}

.input_comment input:focus {
    outline: 0;
}

.input_comment button {
    background-color: #34a9d5;
    border: none;
    outline: 0;
    width: 5rem;
    padding: .25rem 0;
    cursor: pointer;
}

.comment_text {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #fff;
    transform: translateX(15rem);
    animation: .75s forwards Go;
}

.Actual_comments,
.Sort {
    display: flex;
    gap: .5rem;
}

.comment_text h3 {
    font-size: 1.5em;
    letter-spacing: 2px;
}

.Sort {
    align-items: center;
}

.Sort select {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: .25rem .5rem;
}

.Actual_comments {
    flex-direction: column;
}

.Actual_comments>* {
    border-bottom: 1px solid #333;
}

.Review {
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 2.5px;
    padding: 0 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .text {
        display: inline-block;
    }
    .Story_details {
        width: 100%;
        padding: 1.5rem;
        flex-direction: column;
    }
}

@media (max-width: 431px) {
    .back {
        display: block;
        width: 32px;
        height: 32px;
        filter: drop-shadow(0 0 1px #fff);
    }
    .Story_details {
        width: 100%;
        padding: 0;
        flex-direction: column;
        background: 0 0;
    }
    .Synopsis {
        line-height: 150%;
        color: #f0f0f0;
        text-align: justify;
    }
    .text {
        display: inline-block;
    }
    .Views {
        position: static;
        height: 20px;
    }
    .Details_top {
        flex-direction: column;
        padding-bottom: .25rem;
    }
    .Details_left,
    .Details_right {
        padding-top: 0;
    }
    .Details_right {
        transform: translateY(-2.5rem);
        padding: 0 .5rem;
        gap: 2rem;
    }
    .Sort option,
    .Sort span,
    .Synopsis:not(h2),
    .Views {
        font-size: .75em;
    }
    .Views img {
        width: 15px;
    }
    .Details_left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding: 0;
    }
    .main_pic {
        width: 100%;
        clip-path: circle(70% at 50% 35%);
        border: 1px solid #fff;
        border-radius: 0;
    }
    .Details_buttons button:first-child {
        padding: 0;
        background-color: #600000;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        transition: 350ms;
    }
    .Details_buttons button:first-child:hover {
        background-color: #940000;
    }
    .Details_buttons button:first-child span {
        display: none;
    }
    .Details_buttons button:nth-child(2) {
        width: 100px;
        padding: .25rem .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .75em;
    }
    .Story_title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Story_title p {
        opacity: .5;
    }
    .Story_details h1 {
        letter-spacing: 2px;
        font-size: 1.5em;
    }
    .save {
        width: 24px;
        height: 24px;
    }
    .Details_bottom {
        margin-top: 0;
        padding: .25rem .5rem;
    }
    .Details_bottom input {
        padding: .25rem 0;
        font-size: .75em;
    }
    .Review,
    .comment_text h3 {
        font-size: 16px;
    }
    .Details_bottom button {
        width: 5rem;
    }
    .Details_bottom img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .comment_text {
        justify-content: space-between;
        padding: 0 .25rem;
    }
    .Review {
        padding: .25rem;
    }
    .Sort select {
        width: 120px;
    }
    .Review span {
        font-size: .75em;
        font-weight: 300;
        opacity: .5;
        letter-spacing: 0;
    }
    .Details_buttons {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: .5rem;
        align-items: center;
        justify-content: center;
        transform: translateY(-2.5rem)!important;
    }
    .Actual_comments{
        padding:0 .25rem;
    }
}
