@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@200;300;400;700;900&family=Sedgwick+Ave&family=Whisper&display=swap');

*,
.description,
.story_left h1,
.story_right button {
  font-family: Poppins;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.TopStory {
  position: relative;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 0.75rem;
  padding: 1.5rem;

}

.book_title,
.description {
  background-color: #33333375;
  padding: 0.5rem;
}

.TopStory::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../assets/artwork2.webp);
  background-size: cover;
  background-position: center;
  filter: blur(2.5px);
  z-index: -1;
}

.book_inner,
.story_left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.book_title,
.story_right {
  display: flex;
  gap: 1rem;
  color: #fff;
}

.story_left h1 {
  color: #fff;
}

.story_left img {
  height: 385px;
  aspect-ratio: 1/1.54;
  border-radius: 20px;
  border: 1px solid #fff;
  transition: 550ms;
}

.story_left img:hover {
  scale: 1.025;
}

.book_title img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.book_title img:active {
  scale: 0.9;
}

.story_right {
  flex-direction: column;
  justify-content: center;
  height: 75%;
  width: 75%;
  line-height: 125%;
}

.description {
  line-height: 200%;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}

.story_right button {
  width: 100px;
  padding: 0.5rem 1rem;
  background-color: #34a9d5;
  border: none;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  transition: 350ms;
  transform: translateY(0.5rem);
}

.story_right button:hover {
  scale: 1.05;
}

.dots {
  display: none;
}

.SavedNotif {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #222;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 10px;
  z-index: 999;
  animation: 1.25s ease-out forwards saved;
}

.SavedNotif img {
  width: 2rem;
}

@keyframes saved {
  0% {
    top: 5%;
    opacity: 1;
  }
  75% {
    top: 10%;
    opacity: 1;
  }
  80%,
  95% {
    top: 10%;
  }
  100% {
    opacity: 0.25;
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .TopStory {
    height: 65vh;
    max-height: 600px;
  }

  .dots {
    display: inline-block;
  }
}

@media (max-width: 431px) {
  .TopStory {
    height: 60vh;
    max-height: 475px;
    padding: 20vh 0.5rem 1.5rem;
    align-items: flex-end;
    gap: 0.5rem;
  }

  .story_left {
    width: fit-content;
    justify-content: center;
  }

  .book_inner h2,
  .story_left h1 {
    font-size: 1em;
  }

  .story_left img {
    height: 238px;
    width: 160px;
  }

  .story_right {
    gap: 0.25rem;
    line-height: 95%;
    height: 100%;
  }

  .story_right p {
    font-size: 0.65em;
    line-height: normal;
    overflow: hidden;
  }

  .story_right button {
    padding: 0.25rem 0.5rem;
    width: 75px;
    font-size: 0.6em;
  }

  .book_title {
    justify-content: space-between;
  }

  .book_title img {
    width: 20px;
    height: 20px;
  }

  .description {
    font-size: 0.6em;
  }

  .dots {
    display: inline-block;
  }

  .book_inner {
    gap: 0.1rem;
  }

  .SavedNotif h3 {
    font-size: 0.65em;
  }

  @keyframes saved {
    0% {
      top: 40%;
      opacity: 1;
    }
    75% {
      top: 50%;
      opacity: 1;
    }
    80%,
    95% {
      top: 50%;
    }
    100% {
      opacity: 0.25;
      display: none;
    }
  }
}
