.TTSDiv {
  display: flex;
  gap: 1rem;
}
.ButtonLightMode {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.75rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 350ms;
}
.ButtonLightMode:hover {
  scale: 1.025;
  box-shadow: 0 0 5px #b0b0b0;
}
.ButtonLightMode:active {
  transform: scale(0.95);
}
.ButtonNightMode {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 0.75rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 350ms;
}
.ButtonNightMode:hover {
  scale: 1.025;
  box-shadow: 0 0 5px #b0b0b0;
}
.ButtonNightMode:active {
  transform: scale(0.95);
}

.ButtonNotFilledLightMode {
  background-color: transparent;
  border: 1px solid #333;
  color: #333;
  padding: 0.75rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 350ms;
}
.ButtonNotFilledNightMode {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.75rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 350ms;
}
.CaptionsLight {
  position: fixed;
  transform: translateX(
    -50%
  ); /* Move it left by 50% of its width to center it */
  bottom: 5%; /* Distance from the bottom of the page */
  left: 50%; /* Align to the left side of the screen */
  width: 40%; /* Make it span the full width */
  text-align: center; /* Center the content horizontally */
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Optional: semi-transparent background */
  color: white; /* Optional: text color */
  padding: 10px; /* Optional: padding around the captions */
  z-index: 1000; /* Ensure it stays on top of other elements */
}
.CaptionsNight {
  position: fixed;
  bottom: 5%; /* Distance from the bottom of the page */
  left: 50%; /* Position it in the middle of the page */
  transform: translateX(
    -50%
  ); /* Move it left by 50% of its width to center it */
  width: 40%; /* Set the desired width */
  text-align: center; /* Center the content inside the div */
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
  color: black; /* Text color */
  padding: 10px; /* Padding around the captions */
  z-index: 1000; /* Ensure it stays on top of other elements */
}
